<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodcodeforfun.clevelevator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MotionDetectionService"
            android:enabled="true"
            android:exported="true"
            android:process=":motiondetection" />

        <receiver
            android:name=".RestartServiceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MotionDetectedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ShakeDetected" />
                <action android:name="ElevationDetected" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationService"
            android:exported="false" />
        <service
            android:name=".GameLogicService"
            android:exported="false" />

        <receiver
            android:name=".NotificationStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="IsShowingNotification" />
                <action android:name="IsNotShowingNotification" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DetectionAppWidgetStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="IsDetectionOn" />
                <action android:name="IsDetectionOff" />
            </intent-filter>
        </receiver>

        <receiver android:name=".DetectionAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/detection_app_widget_info" />
        </receiver>
    </application>

</manifest>